body, html {
    height: 100%;
    background: url(https://wallpaper-house.com/data/out/10/wallpaper2you_451315.png);
    font-size: 15px;
    color: white;
    
}

a:link{
    color: yellow;
}
a:visited{
    color: yellow;
}
a:active{
    color: yellow;
}